@media screen and (max-width: 500px) {
  .golf-club-image {
    max-height: 400px;
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .golf-club-image {
    max-height: 400px;
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .golf-club-image {
    max-height: 400px;
    max-width: 800px;
  }
}