/* GENERAL STYLES */

/* Body */
body {
  background-color: #f0f2f5!important;
}

/* Links */
a {
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}
