.hero-content {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  margin-top: -155px;
  display: flex;
}

.hero-header-col {
  padding: 0;
}

.search-form-row {
  max-height: 200px;
  background-color: rgba(0,0,0,0.6);
  padding: 16px 18px;
  box-sizing: border-box;
  border-radius: 3px;
}

.search-form-col {
  padding: 0 60px;
}

.search-form-col h4, .search-form-col p {
  color: #ffffff!important;
}

.search-form-col p {
  margin: 0;
}

.search-icon {
  color: #ffffff;
  position: relative;
  top: 15%;
  padding: 0 5px;
}

.search-form-input:focus {
  box-shadow: none!important;
}

.form-control {
  height: calc(3em + .75rem + 2px);
}

@media screen and (max-width: 500px) {
  .search-form-col {
    padding: 0 15px;
  }
}