.golf-club-ul {
  padding: 0;
}

.golf-club-li {
  list-style-type: none;
  padding-bottom: 15px;
}

.card {
  background-color: #fbfbfb;
}

.card-title.capitalize {
  text-transform: capitalize;
}

.golf-club-li-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}